# Ignore Visual Studio Code configuration folder in any directory
**/.vscode/

# Ignore all executable files in any directory
**/*.exe

# Ignore submission folders and zip files in any directory
**/2305052/
**/2305052.zip